<!DOCTYPE html>
<html lang="en">
   <!-- Mirrored from preview.colorlib.com/theme/podcast/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Feb 2021 10:56:41 GMT -->
   <head>
      <title>Intro to Azure</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" href="images/MLSA.png">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="fonts/icomoon/style.css">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/magnific-popup.css">
      <link rel="stylesheet" href="css/jquery-ui.css">
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesheet" href="css/owl.theme.default.min.css">
      <link rel="stylesheet" href="../../../cdn.jsdelivr.net/npm/mediaelement%404.2.7/build/mediaelementplayer.min.css">
      <link rel="stylesheet" href="css/aos.css">
      <link rel="stylesheet" href="css/style.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link rel="stylesheet" href="css/main.css">
      
   </head>
   <body>
      <div class="site-wrap">
         <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
               <div class="site-mobile-menu-close mt-3">
                  <span class="icon-close2 js-menu-toggle"></span>
               </div>
            </div>
            <div class="site-mobile-menu-body"></div>
         </div>
         <header class="site-navbar py-4" role="banner">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-3">
                     <h2 id="header" class="site-logo"><a href="index.html" class="h2">Microsoft Learn Student Ambassador<span class="text-primary"></span> </a></h2>
                  </div>
                  <div class="col-4">
                     <img src="images/MLSA.png" alt="Image" class="img-fluid" style="width: 200px;margin-left: 30em;">
                  </div>
                  <div class="col-9">
                     
                  </div>
               </div>
            </div>
         </header>
         <div class="container pt-5 hero">
            <div class="row align-items-center text-center text-md-left">
               <div class="col-lg-4">
                  <h1 class="mb-3 display-3" style="text-decoration: underline;">Intro to Azure</h1>
                  <p>Ever wanted to publish and manage your own website effortlessly without the worries of servers and storage issues? Well join us for an exciting and interactive session on Sunday 7th February to discover the world of Azure and its app service!. This website will be a one stop destination for you to learn about Azure and hosting a web app through azure</p>
                  <button class="btn btn-primary">Download Resources</button>
               </div>
               <div class="col-lg-8">
                  <img src="images/mit.png" alt="Image" class="img-fluid">
               </div>
            </div>
         </div>
         <div class="site-section">
            <div class="container">
               <div class="row">
                  <div class="col-lg-3">
                     <div class="featured-user  mb-5 mb-lg-0">
                        <h3 class="mb-4" style="font-weight: 400;">Steps to Host your website on Azure</h3>
                        <ul class="list-unstyled">
                           <li>
                              <a href="#" class="d-flex align-items-center">
                                 <img src="images/undraw_refreshing_beverage_td3r.png" alt="Image" class="img-fluid mr-2">
                                 <div class="podcaster">
                                    <span class="d-block">Sign in to Azure</span>
                                    <span class="small"></span>
                                 </div>
                              </a>
                           </li>
                           <li>
                              <a href="#" class="d-flex align-items-center">
                                 <img src="images/undraw_refreshing_beverage_td3r.png" alt="Image" class="img-fluid mr-2">
                                 <div class="podcaster">
                                    <span class="d-block">Click on App Services</span>
                                    <span class="small"></span>
                                 </div>
                              </a>
                           </li>
                           <li>
                              <a href="#" class="d-flex align-items-center">
                                 <img src="images/undraw_refreshing_beverage_td3r.png" alt="Image" class="img-fluid mr-2">
                                 <div class="podcaster">
                                    <span class="d-block">Click on create a Create new </span>
                                    <span class="small"></span>
                                 </div>
                              </a>
                           </li>
                           <li>
                              <a href="#" class="d-flex align-items-center">
                                 <img src="images/undraw_refreshing_beverage_td3r.png" alt="Image" class="img-fluid mr-2">
                                 <div class="podcaster">
                                    <span class="d-block">Fill the Details and Clcik on Review and Create</span>
                                    <span class="small"></span>
                                 </div>
                              </a>
                           </li>
                           <li>
                              <a href="#" class="d-flex align-items-center">
                                 <img src="images/undraw_refreshing_beverage_td3r.png" alt="Image" class="img-fluid mr-2">
                                 <div class="podcaster">
                                    <span class="d-block">Click on Deployment centre </span>
                                    <span class="small"></span>
                                 </div>
                              </a>
                           </li>
                           <li>
                              <a href="#" class="d-flex align-items-center">
                                 <img src="images/undraw_refreshing_beverage_td3r.png" alt="Image" class="img-fluid mr-2">
                                 <div class="podcaster">
                                    <span class="d-block">Link your Github account and repository</span>
                                    <span class="small"></span>
                                 </div>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-9">
                     <div id="colab1" class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
                        <div class="image" style="background-image: url('images/html.png');"></div>
                        <div class="text">
                           <h3 class="font-weight-light" style="text-decoration: double;"><a href="https://www.youtube.com/watch?v=mU6anWqZJcc">Module 1:Introduction to HTML5,CSS3</a></h3>
                           <div class="text-white mb-3"><span class="text-black-opacity-05"><small>FreeCode Camp<span class="sep"></span>  <span class="sep"></span></small></span></div>
                        </div>
                     </div>
                     <div id="colab1" class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
                        <div class="image" style="background-image: url('images/js.png');"></div>
                        <div class="text">
                           <h3 class="font-weight-light"><a href="https://www.youtube.com/watch?v=W6NZfCO5SIk">Module 2 : Introduction to JavaScript</a></h3>
                           <div class="text-white mb-3"><span class="text-black-opacity-05"><small>Programming with Mosh <span class="sep"></span>  <span class="sep"></span></small></span></div>
                        </div>
                     </div>
                     <div id="colab1" class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
                        <div class="image" style="background-image: url('https://nodejs.org/static/images/logos/nodejs-new-pantone-black.svg');"></div>
                        <div class="text">
                           <h3 class="font-weight-light"><a href="https://www.youtube.com/watch?v=TlB_eWDSMt4">Module 3 : Introduction to Node.js</a></h3>
                           <div class="text-white mb-3"><span class="text-black-opacity-05"><small>Programming with Mosh<span class="sep"></span>  <span class="sep"></span></small></span></div>
                           
                        </div>
                     </div>
                     <div id="colab1" class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
                        <div class="image"  style="background-image: url('https://img.icons8.com/bubbles/2x/api.png');"></div>
                        <div class="text">
                           <h3 class="font-weight-light"><a href="https://www.youtube.com/watch?v=pKd0Rpw7O48">Module 4 : Introduction to API's with Express</a></h3>
                           <div class="text-white mb-3"><span class="text-black-opacity-05"><small>Programming with Mosh<span class="sep"></span>  <span class="sep"></span></small></span></div>
                           
                        </div>
                        
                     </div>
                     <div id="colab1" class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
                        <div class="image"  style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8Ki3b16TNuUiqJQBWtvL-IW71oeddib19Nw&usqp=CAU');"></div>
                        <div class="text">
                           <h3 class="font-weight-light"><a href="https://www.youtube.com/watch?v=-56x56UppqQ">Module 5 : Introduction to MongoDB</a></h3>
                           <div class="text-white mb-3"><span class="text-black-opacity-05"><small>Traversy Media<span class="sep"></span>  <span class="sep"></span></small></span></div>
                           
                        </div>
                        
                     </div>
                     <div id="colab1" class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
                        <div class="image"  style="background-image: url('images/website.png');"></div>
                        <div class="text">
                           <h3 class="font-weight-light"><a href="https://www.youtube.com/watch?v=eYVGoXPq2RA">Module 6 : Creating your first CRUD App</a></h3>
                           <div class="text-white mb-3"><span class="text-black-opacity-05"><small>Telusko<span class="sep"></span>  <span class="sep"></span></small></span></div>
                           
                        </div>
                        
                     </div>
                     <div id="colab1" class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
                        <div class="image" style="background-image: url('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png');"></div>
                        <div class="text">
                           <h3 class="font-weight-light"><a href="https://www.youtube.com/watch?v=RGOj5yH7evk">Module 7 : Introduction to Git and Github</a></h3>
                           <div class="text-white mb-3"><span class="text-black-opacity-05"><small>FreeCode Camp<span class="sep"></span>  <span class="sep"></span></small></span></div>
                           
                        </div>
                     </div>
                     <div id="colab1" class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
                        <div class="image" style="background-image: url('images/cloud.png');"></div>
                        <div class="text">
                           <h3 class="font-weight-light"><a href="#">Module 8 : Deploying your web app with Azure</a></h3>
                           <div class="text-white mb-3"><span class="text-black-opacity-05"><small>Parvathi & Akhil <span class="sep"></span>  <span class="sep"></span></small></span></div>
                           
                        </div>
                     </div>
                  </div>
                  <div class="container" data-aos="fade-up">
                  
               </div>
            </div>
         </div>
         <div class="site-section bg-light block-13">
            <div id="colab" class="container" style="padding-top: 20px;">
               <div class="row mb-5">
                  <div class="col-md-12 text-center">
                     <h2 class="font-weight-bold text-black" style="text-decoration: underline;text-transform: capitalize;">Collaborators</h2>
                  </div>
               </div>
               <div class="nonloop-block-13 owl-carousel" style="margin-left: 10em;width: 1000px;height: ;" >
                  <div id="" class="text-center p-3 p-md-5 bg-white">
                     <div class="mb-4">
                        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFMoiaEzwaeyw/profile-displayphoto-shrink_800_800/0/1599482607194?e=1617840000&v=beta&t=njmg1wSaYEOggN_yIGKFQnBiuMLaomZnciQluAjvWuQ" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
                     </div>
                     <div id=""  class="mb-4">
                        <h3 class="font-weight-light h5" style="font-family: 'Roboto Mono', monospace;font-weight: 600  ;">Parvathi Thara</h3>
                        <p>Microsoft Learn Student Ambassador Alpha </p>
                        
                     </div>
                  </div>
                  <div id="" class="text-center p-3 p-md-5 bg-white">
                     <div id="" class="mb-4">
                        <img src="images/Akhil.jpg" alt="Image" class="w-50  mx-auto img-fluid rounded-circle" style="height: 120px;">
                     </div>
                     <div class="">
                        <h3 class="font-weight-light h5" style="font-family: 'Roboto Mono', monospace;">Viswanath Akhil</h3>
                        <p>Microsoft Learn Student Ambassador Alpha</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="site-blocks-cover overlay inner-page-cover" style="background-image: url('https://images.unsplash.com/photo-1495106245177-55dc6f43e83f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8ZmVlZGJhY2t8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');" data-aos="fade" data-stellar-background-ratio="0.5" style="height: 2em;">
            <div class="container">
               <div class="row align-items-center justify-content-center text-center">
                  <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                     <h2 style="text-decoration: underline;">Swags List</h2>
                     <p class="mb-5">Fill up your details to recieve your certificates and swags</p>
                     <form action="#" method="post" class="site-block-subscribe">
                        <div class="input-group mb-3">
                           <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Email" aria-label="Enter Email" aria-describedby="button-addon2">
                           <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Name" aria-label="Enter Email" aria-describedby="button-addon2">
                           
                           <div class="input-group-append">
                              <button class="btn btn-danger" type="button" id="button-addon2">Send</button>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         
      </div>
      <script src="js/jquery-3.3.1.min.js"></script>
      <script src="js/jquery-migrate-3.0.1.min.js"></script>
      <script src="js/jquery-ui.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/jquery.stellar.min.js"></script>
      <script src="js/jquery.countdown.min.js"></script>
      <script src="js/jquery.magnific-popup.min.js"></script>
      <script src="js/aos.js"></script>
      <script src="js/mediaelement-and-player.min.js"></script>
      <script>
         document.addEventListener('DOMContentLoaded', function() {
           var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;
         
           for (var i = 0; i < total; i++) {
             new MediaElementPlayer(mediaElements[i], {
               pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
               shimScriptAccess: 'always',
               success: function () {
                 var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                 for (var j = 0; j < targetTotal; j++) {
                   target[j].style.visibility = 'visible';
                 }
               }
             });
           }
         });
      </script>
      <script src="js/main.js"></script>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         
         gtag('config', 'UA-23581568-13');
      </script>
   </body>
   <!-- Mirrored from preview.colorlib.com/theme/podcast/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Feb 2021 10:56:50 GMT -->
</html>
